#payment-page {

  .booking {
    background-color: #ffffff;
    border: solid 1px #ddd;
    border-style: none solid solid solid;
    padding: 10px;
              }

              .booking-cardl {
                background-color: #ffffff;
                border: solid 2.5px #ebebeb;
                border-style: none solid none none;
                padding: 10px;
                          }
                          .booking-cardr {
                            background-color: #ffffff;
                            border: solid 2.5px #ebebeb;
                            border-style: none none none solid;
                            padding: 10px;
                          }

                            .booking-cardm {
                              background-color: #ffffff;
                              border: solid 2.5px #ebebeb;
                              border-style: none solid none solid;
                              padding-top: 10px;
                                              padding-left: 10px;
                                              padding-right: 10px;
                                              padding-bottom: 0px;
                                      }

                                      .card {
                                        margin: 5px;
                                            }
                                            .card-header {
                                              margin-top: 9px;
                                              margin-left: 9px;
                                              margin-right: 9px;
                                              margin-bottom: 0px;
                                                  }

                                            .card-col {
                                              padding-top: 10px;
                                              padding-left: 10px;
                                              padding-right: 10px;
                                              padding-bottom: 0px;
                                            }

                                            .card-title {
                                              text-align: center;
                                              padding-top: 0px;
                                                  }

                                                  .button {
                                                    margin-top: 0px;
                                                    margin-left: 9px;
                                                    margin-right: 9px;
                                                    margin-bottom: 0px;
                                                  }
}